body {
    background-color: #3b3d3d;
}

.master-parent {
    height: 100vh;
    display: flex;
    margin: 10px;
}

.master-parent .left-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.master-parent .right-parent {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.master-parent .right-parent .top-parent {
    flex: 1;
    display: flex;
    /* align-items: stretch; */
    /* align-content: stretch; */
}

.master-parent .right-parent .bottom-parent {
    flex: 2;
    display: flex;
}

.master-parent .right-parent .bottom-parent .right-parent {
    flex: 2;
}

.master-parent .right-parent .bottom-parent .left-parent {
    flex: 3;
    flex-direction: row;
    flex-wrap: wrap;
}

.master-parent,
.right-parent,
.left-parent,
.bottom-parent,
.top-parent {
    gap: 10px;
}

.box {
    /* margin: 10px; */
    flex: 1;
    /* height: 100%; */
}

.master-parent .right-parent .bottom-parent .left-parent .box {
    flex-basis: 50%;
}

.red {
    background-color: #f1463d;
}

.white {
    background-color: white;
}

.cyan {
    background-color: #2cc5cf;
}

.yellow {
    background-color: #d6b269;
}